@import 'src/styles/variables'

.home_container
  padding: 3rem $indent 3rem $indent

.controls
  display: flex
  justify-content: space-between
  align-items: center

.button
  font-style: inherit
  font-size: inherit
  font-family: inherit
  padding: 0.5rem 0.8rem 0.5rem 0.8rem
  background: transparent
  cursor: pointer
  border-radius: 1.5rem
  margin-right: 0.8rem
  transition: 0.2s

.blue_button
  color: $blue
  border: 0.1rem solid $blue

.red_button
  color: $red
  border: 0.1rem solid $red


.selected
  background-color: $blue
  color: $white
